
<<<<<<< HEAD
        <h1>
            Codeial / <%= title %>
        </h1>
=======
        <h1>TODOLIST/ <%=title%></h1>
      


        <section id="feed-post">

            <h4>Posts</h4>
            <form action="POST"  id="new-post-form">
                <textarea name="content" placeholder="Type here...." cols="30" rows="3"></textarea>
                <input type="submit" value="post">
            </form>

        </section>
>>>>>>> 04ea20e (post contollers and models added)
