<!-- <html>
    <head>
        <title>
<%=title%>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->
        <h1>user_profile/ <%=title%></h1>
        <!-- <%- include('footer'); -%>
    </body>
</html> -->