div{
display: flex;
padding: 10px;
width:100vw;

    #feed-post{   
    padding: 10px;
    width: 70%;
    }
#user-friends{
    
    padding: 10px;
    width: 25%;
    border-left: 1px solid black;
    }
}