<div>

    <p>Hi!! <%= comment.comment.content %></p>
    <br>
    <br>
    <p>Your Comment <strong>
        <p>Hi!! <%= comment.userDet.user.name %></p>
        </strong>just got published on Ashwins Codeial</p>
    <br>
    <br>
    <p>Thanks Man!!! Have a Great Day</p>

</div>
<strong>This is the Comment you have published</strong>